{% extends ":admin:layout_2cols.html.twig" %}
{% trans_default_domain 'messages' %}

{% block main_content %}
<h2>{{ customer.civility | trans }} {{ customer.LastName }} {{ customer.FirstName }}</h2>
<dl class="dl-horizontal">
    <dt>ID</dt><dd>{{ customer.id }}</dd>
    <dt>{{ "RemoteId" | trans }}</dt><dd>{{ customer.remoteId }}</dd>
    <dt>{{ "Birthday" | trans }}</dt><dd>{{ customer.birthday | date('d/m/Y') }}</dd>
    <dt>{{ "Phone" | trans }}</dt>
        <dd><a href="tel:{{ customer.phone }}" title="Appeler le {{ customer.phone }}">{{ customer.phone }}</a>
    </dd>
    <dt>{{ "Email" | trans }}</dt>
        <dd><a href="mailto:{{ customer.email }}" title="Envoyer un email">{{ customer.email }}</a>
    </dd>
    <dt>{{ "Company" | trans }}</dt><dd>{{ customer.company }}</dd>
    <dt>{{ "Adress" | trans }}</dt><dd>{{ customer.addressNber }} {{ customer.addressStreet }}</dd>
    <dt>{{ "Adress extended" | trans }}</dt><dd>{{ customer.addressExtra }}</dd>
    <dt>{{ "Adress Living" | trans }}</dt><dd>{{ customer.addressLiving }}</dd>
    <dt>{{ "City" | trans }}</dt><dd>{{ customer.addressCity }}</dd>
    <dt>{{ "Zipcode" | trans }}</dt><dd>{{ customer.addressZipcode }}</dd>
    <dt>{{ "Postal box" | trans }}</dt><dd>{{ customer.addressPb }}</dd>
    <dt>{{ "Country" | trans }}</dt><dd>{{ customer.addressCountry }}</dd>
</dl>
<a class="btn btn-primary" href="{{ path('donate_admin_reporting_customer_edit', { 'id': customer.id }) }}">{{ "Edit" | trans }}</a>

<div id="table" class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="intent-id">{{ knp_pagination_sortable(pagination, '#', 'i.id') }}</th>
                <th class="intent-amount">{{ knp_pagination_sortable(pagination, 'Amount' | trans, 'i.amount') }}</th>
                <th class="intent-date">{{ knp_pagination_sortable(pagination, 'Date' | trans, 'i.createdAt') }}</th>
                <th class="intent-status">{{ knp_pagination_sortable(pagination, 'Status'| trans, 'i.status') }}</th>
                <th class="intent-type">{{ knp_pagination_sortable(pagination, 'Type' | trans, 'i.type') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for intent in pagination %}
            {% set intentLink = macros.intentLink(intent.id) %}
            <tr class="{{ macros.intent_state_class(intent) }}">
                <td><a href="{{ intentLink }}">{{ intent.id }}</a></td>
                <td><a href="{{ intentLink }}">{{ intent.amount /100 }} {{ macros.euro() }}</a></td>
                <td><a href="{{ intentLink }}">{{ intent.createdAt | date('d/m/Y') }}</a></td>
                <td><a href="{{ intentLink }}">{{ intent.status | trans }}</a></td>
                <td>
                    <a href="{{ intentLink }}">
                        {% set types = intent.typesLabel  %}
                        {{ types[intent.type] | trans }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pager">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}
