{#

@param intent

#}
{% trans_default_domain "messages" %}

{% extends ":front:layout.html.twig" %}
{% block title%}{{'check_promise.donation.completed'|trans }} | {{ parent() }} {% endblock %}

{% block main_content %}
<h1 class="no-print">{{ 'check_promise.lead.title'|trans }}</h1>

<p class="lead no-print">
	{{ 'check_promise.lead.highlight_text' | trans ({'%amount%' : intent.amount / 100 })}}
</p>

<p class="no-print pre">
	{{ 'check_promise.lead.text'|trans }}
</p>
<div class="btn-link">
	<a class="btn btn-primary btn-lg" href="#" onclick="window.print();return false">{{ "label.print" | trans }}</a>
</div>


<div class="print">
	<h2>{{ 'check_promise.body.title' | trans }}</h2>

	{{ 'check_promise.body.text' | trans ({'%amount%' : intent.amount / 100 }) | raw }}

	<h3>{{ 'label.donator-details' | trans }}</h3>

	<dl class="dl-horizontal">
		{% if intent.customer.civility %}
		<dt>{{ 'label.civility'|trans }} :</dt>
		<dd>{{ intent.customer.civility }} </dd>
		{% endif %}

		<dt>{{ 'label.firstname'|trans }} :</dt>
		<dd>{{ intent.customer.firstName }} </dd>

		<dt>{{ 'label.lastname'|trans }} :</dt>
		<dd>{{ intent.customer.lastName }} </dd>

		<dt>{{ 'label.amount'|trans }} :</dt>
		<dd>{{ intent.amount / 100 }} <span class="euro">€</span></dd>

		{% if intent.customer.company %}
		<dt>{{ "label.company" | trans }} :</dt><dd>{{ intent.customer.company }}</dd>
		{% endif %}

		<dt>{{ "label.address" | trans }} :</dt><dd>{{ intent.customer.addressNber }} {{ intent.customer.addressStreet }}</dd>

		{% if intent.customer.addressExtra %}
		<dt>{{ "label.address_extended" | trans }} :</dt><dd>{{ intent.customer.addressExtra }}</dd>
		{% endif %}

		{% if intent.customer.addressLiving %}
		<dt>{{ "label.address_living" | trans }} :</dt><dd>{{ intent.customer.addressLiving }}</dd>
		{% endif %}

		<dt>{{ "label.zipcode" | trans }} :</dt><dd>{{ intent.customer.addressZipcode }}</dd>

		<dt>{{ "label.city" | trans }} :</dt><dd>{{ intent.customer.addressCity }}</dd>

		{% if intent.customer.addressPb %}
		<dt>{{ "label.postal_box" | trans }} :</dt><dd>{{ intent.customer.addressPb }}</dd>
		{% endif %}

		<dt>{{ "label.country" | trans }} :</dt><dd>{{ intent.customer.addressCountry }}</dd>

		{% if intent.customer.phone %}
		<dt>{{ "label.phone" | trans }} :</dt><dd>{{ intent.customer.phone }}</dd>
		{% endif %}

		<dt>{{ "label.email" | trans }} :</dt><dd>{{ intent.customer.email }}</dd>

        {% if intent.affectationCode %}
            <dt>{{ "label.affectation" | trans }}</dt><dd>{{ intent.affectationCode }}</dd>
        {% endif %}

	</dl>

	<p class='separation'>
		{{ "check_promise.donator-service" | trans | raw}}
	</p>

	<p class="loi">
		{{ "check_promise.privacy" | trans | raw }}
	</p>
</div>
{% endblock %}


{% block google_analytics %}
    {{ parent() }}
    {% spaceless %}
        {% include ":front:ga_ecommerce.html.twig" with {'intent': intent, 'google_analytics': google_analytics} only %}
    {% endspaceless %}
{% endblock %}
