{% extends "DonateAdminBundle::layout.html.twig" %}

{% block main_content %}
<h2>{{ "Users" | trans }}</h2>
    {% if is_granted("ROLE_ADMIN") %}
        <p class="help">{{ "An inactive user will not access to dashboard." |trans }}</p>
        <div id="table" class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="user-id">{{ knp_pagination_sortable(pagination, '#', 'u.id') }}</th>
                        <th class="user-username">{{ knp_pagination_sortable(pagination, 'Username' | trans, 'u.username') }}</th>
                        <th class="user-mail">{{ knp_pagination_sortable(pagination, 'Email'  | trans, 'u.email') }}</th>
                        <th class="user-created-at">{{ knp_pagination_sortable(pagination, 'Created at' | trans, 'u.createdAt') }}</th>
                        <th class="user-updated-at">{{ knp_pagination_sortable(pagination, 'Last update' | trans, 'u.updatedAt') }}</th>
                        <th class="user-last-login">{{ knp_pagination_sortable(pagination, 'Last connexion' | trans, 'u.lastLogin') }}</th>
                        <th class="user-enabled">{{ knp_pagination_sortable(pagination, 'Active' | trans, 'u.enabled') }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in pagination %}
                    {% set userLink = macros.userLink(user.id) %}
                    <tr>
                        <td><a href="{{ userLink }}">{{ user.id }}</a></td>
                        <td><a href="{{ userLink }}">{{ user.userName }}</a></td>
                        <td><a href="{{ userLink }}">{{ user.email }}</a></td>
                        <td><a href="{{ userLink }}">{{ user.createdAt | date('d/m/Y') }}</a></td>
                        <td><a href="{{ userLink }}">
                            {% if user.updatedAt is not null %}
                                {{ user.updatedAt | date('d/m/Y H:i:s') }}
                            {% endif %}
                        </a></td>
                        <td><a href="{{ userLink }}">
                            {% if user.lastLogin is not null %}
                                {{ user.lastLogin | date('d/m/Y H:i:s') }}
                            {% endif %}
                        </a></td>
                        <td><a href="{{ userLink }}">{% if user.isEnabled %}{{ "Yes" | trans }}{% else %}{{ "No" | trans }}{% endif %}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pager">
                {{ knp_pagination_render(pagination) }}
            </div>

            <div class="form-filter">
                <a href="{{ path('donate_admin_user_new') }}" class="btn btn btn-primary">
                    {{ macros.icon('plus') }} {{ "Add user" | trans }}
                </a>
            </div>
        </div>
        {% else %}
            <p>{{ "You are not authorized to access the user dashboard" | trans }}</p>
        {% endif %}
{% endblock %}
