{% extends "DonateAdminBundle::layout2Cols.html.twig" %}

{# form_theme customerForm 'DonateCoreBundle:Form:form_div_layout.html.twig' #}

{% block main_content_title %}Voir les Block éditables du Layout {{ layout.name}}{% endblock %}

{% block sidebar %}
 {{ include ('DonateAdminBundle:Layout:_layout.html.twig' , {'layout': layout}, with_context = false) }}
<a class="btn btn-default" 
    title="{{ 'Add equivalence' | trans }}"
    href="{{ path('donate_admin_equivalence_add', { layout : layout.id }) }}"
>
    {{ macros.icon('plus-sign') }} {{ 'Add equivalence' | trans }}
</a>

{% endblock %}

{% block main_content %}
{% if layout.equivalences|length > 0 %}
<div id="table" class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="eq-amount">{{ 'Amount'| trans }}</th>
                <th class="eq-label">{{ 'Label' | trans }}</th>
                <th class="eq-currency">{{ 'Currency' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for e in layout.equivalences %}
            <tr>
                <td><a title="{{ 'Edit equivalence' | trans }}" href="#">
                   {{ macros.icon('edit') }}</span> {{ e.amount }}
                    </a>
                </td>
                <td>{{ e.label | raw }}</td>
                <td>{{ e.currency }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 </div>
{% else %}
    {{ 'No equivalences initialised' | trans }}
{% endif %}


{% endblock %}
