{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit" role="form">
    {{ form_errors(form) }}
    <div class="form-group">
        {{ form_row(form.username, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_row(form.email, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_row(form.current_password, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
        <a href="{{ path('fos_user_change_password')}}" class="btn btn-primary">{{ "Change your password" | trans }}</a>
    </div>
    {{ form_rest(form) }}
</form>
