{% extends "DonateAdminBundle::layout2Cols.html.twig" %}
{% form_theme form 'DonateFrontBundle:Form:form_div_layout.html.twig' %}

{% block main_content_title %}Editer block {{ block.name }}{% endblock %}

 {% block footer_js %}
	{{ parent() }}
    <script  type="text/javascript">
    $(function(){

        var format = $('#block_format');

        if( 'html' != format.val() )  {
            //si pas HTML alors on desactive directement ckeditor
            CKEDITOR.instances.block_body.destroy();
        }

        //quand le format change on active/desactive aloha
        format.change(function(e) {
            var _this = $(this);
            if( 'html' == _this.val() )  {
                console.log('format change to  html, we activate ckeditor');
                if(CKEDITOR.instances && !CKEDITOR.instances.block_body ) {
                    CKEDITOR.replace('block_body', trsteelConfig);
                    CKEDITOR.instances["block_body"].rawConfig = trsteelConfig;
                }
            } else {
                console.log('format change, we deactivate ckeditor');
                if(CKEDITOR.instances && CKEDITOR.instances.block_body ) {
                    CKEDITOR.instances.block_body.destroy();
                }
            }
        });
    });
    </script>
{% endblock %}

{% block sidebar %}
{{ include ('DonateAdminBundle:Block:_layout.html.twig' , {'layout': block.layout}, with_context = false) }}
{% endblock %}

{% block main_content %}

{{ form_start(form, { 'attr': {'role': 'form', 'id':'block-edit-form'}} ) }}
    {{ form_errors(form) }}

    <div class="form-group"><div class="control-group">
    {{ form_row(form.name, { 'attr': {'class': 'form-control'}}) }}
    </div></div>
    <div class="checkbox">
    {{ form_row(form.enabled, { 'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group"><div class="control-group">
    {{ form_row(form.position, { 'attr': {'class': 'form-control'}}) }}
    </div></div>
    <div class="form-group"><div class="control-group">
	{{ form_row(form.type, { 'attr': {'class': 'form-control'}}) }}
    </div></div>
    <div class="form-group"><div class="control-group">
	{{ form_row(form.title, { 'attr': {'class': 'form-control'}}) }}
    </div></div>
    <div class="form-group"><div class="control-group">
	{{ form_row(form.title_url, { 'attr': {'class': 'form-control'}}) }}
    </div></div>
    <div class="form-group"><div class="control-group">
	{{ form_row(form.title_url_title, { 'attr': {'class': 'form-control'}}) }}
    </div></div>
    <div class="form-group"><div class="control-group">
	{{ form_row(form.body, { 'attr': {'class': 'form-control', 'rows' : 20}}) }}
    </div></div>
    <div class="form-group"><div class="control-group">
	{{ form_row(form.format, { 'attr': {'class': 'form-control'}}) }}
    </div></div>

    {{ form_rest(form) }}

{{ form_end(form) }}
{% endblock %}
