{% extends "DonateAdminBundle::layout2Cols.html.twig" %}

{# form_theme customerForm 'DonateCoreBundle:Form:form_div_layout.html.twig' #}

{% block main_content_title %}Voir les Block éditables du Layout {{ layout.name}}{% endblock %}

{% block sidebar %}
 {{ include ('DonateAdminBundle:Block:_layout.html.twig' , {'layout': layout}, with_context = false) }}
{% endblock %}

{% block main_content %}
{% if layout.blocks|length > 0 %}
<div id="table" class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="block-name">{{ 'Machine name'| trans }}</th>
                <th class="block-title">{{ 'Titre' | trans }}</th>
                <th class="block-enabled">{{ 'Enabled' | trans }}</th>
                <th class="block-position">{{ 'Position' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for b in layout.blocks %}
            <tr>
                <td><a title="Editer le block" href="{{ path('donate_admin_block_edit', { layout : layout.id, block: b.id }) }}">
                   {{ macros.icon('edit') }}</span> {{ b.name }}
                    </a>
                </td>
                <td>{{ b.title }}</td>
                <td>{{ b.enabled }}</td>
                <td>{{ b.position }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 </div>
{% else %}
    {{ 'No block initialised, contact your webmaster' | trans }}
{% endif %}
{% endblock %}
