{% extends "DonateAdminBundle::Dashboard/block.html.twig" %}
{% trans_default_domain 'messages' %}

{% set title = 'Donator has already given!' | trans %}
{% block content %}
    <ul class="item-list">
    {% for intent in customerIntents %}
        {% set intentLink = macros.intentLink(intent.id) %}
        <li><a href="{{ intentLink }}" title="Voir le détail du don">{{ intent.amount/100 }} {{ macros.euro() }} {{ "the" | trans }} {{ intent.createdAt | date('d/m/Y') }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
{% block footer %}
    <div class="panel-footer">
        <a href="{{ path('donate_admin_reporting_customer_show', { 'id': intent.customer.id }) }}" title="Voir tous les dons de ce donateur">{{ "See all donations of this donator" | trans }}</a>
    </div>
{% endblock %}
