{% extends "DonateAdminBundle::layout2Cols.html.twig" %}
{% trans_default_domain 'messages' %}

{# form_theme customerForm 'DonateCoreBundle:Form:form_div_layout.html.twig' #}

{% block main_content_title %}Les donateurs{% endblock %}

{% block sidebar %}
<div class="form-filter">
<h3>{{ "Search" | trans }}</h3>
{{ form_start(customerForm,  { 'action': '', 'method': 'GET', 'attr': {'role': 'form'} }) }}
    {{ form_errors(customerForm) }}

    <div class="form-group">
        {{ form_row(customerForm.email,  { 'label': "Email" | trans , 'attr': {'class': 'form-control', 'placeholder': 'xxx@ecedi.fr'} }) }}
    </div>

    <div class="form-group">
        {{ form_row(customerForm.lastName,  { 'label': "Name" | trans , 'attr': {'class': 'form-control', 'placeholder': 'Dupont'} }) }}
    </div>

    <div class="form-group">
        {{ form_row(customerForm.addressZipcode,  { 'label': "Zipcode" | trans , 'attr': {'class': 'form-control', 'placeholder': '75000'} }) }}
    </div>

    <div class="form-group">
        {{ form_row(customerForm.addressCity,  { 'label': "City" | trans, 'attr': {'class': 'form-control', 'placeholder': 'Paris'} }) }}
    </div>

    <div class="form-group">
        {{ form_widget(customerForm.submit_filter, { 'attr': {'class': 'btn btn-primary' } }) }}
        {{ form_widget(customerForm.submit_export, { 'attr': {'class': 'btn btn-primary' } }) }}
        <a href="{{ path('donate_admin_reporting_customers') }}" class="btn btn-reset-filters">{{ "Reset filters" | trans }}</a>
    </div>
</div>
{{ form_end(customerForm) }}

<div class="count">
    <p>{{ "Number of results" | trans }} : {{ pagination.getTotalItemCount }}</p>
</div>
{% endblock %}

{% block main_content %}
<h2>{{ "Donators" | trans }}</h2>
<h3>{{ "Results" | trans }}</h3>
{% if pagination.getTotalItemCount > 0 %}
<div id="table" class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="customer-id">{{ knp_pagination_sortable(pagination, '#', 'c.id') }}</th>
                <th class="customer-lastName">{{ knp_pagination_sortable(pagination, "Donator" | trans, 'c.lastName') }}</th>
                <th class="customer-mail">{{ "Email" | trans }}</th>
                <th class="customer-phone">{{ "Phone" | trans }}</th>
                <th class="customer-zipcode">{{ knp_pagination_sortable(pagination, "Zipcode" | trans, 'c.addressZipcode') }}</th>
                <th class="customer-city">{{ knp_pagination_sortable(pagination, "City" | trans , 'c.addressCity') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in pagination %}
            {% set customerLink = macros.customerLink(customer.id)%}
            <tr>
                <td>{{ customer.id }}</td>
                <td><a href="{{ customerLink }}">{{ customer.LastName }} {{ customer.FirstName }}</a></td>
                <td><a href="mailto:{{ customer.email }}" title="Envoyer un email">{{ customer.email }}</a></td>
                <td><a href="tel:{{ customer.phone }}" title="Appeler le {{ customer.phone }}">{{ customer.phone }}</a></td>
                <td><a href="{{ customerLink }}">{{ customer.addressZipcode }}</a></td>
                <td><a href="{{ customerLink }}">{{ customer.addressCity }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pager">
        {{ knp_pagination_render(pagination) }}
    </div>
 </div>
{% else %}
    {{ "None result match your search" | trans }}
{% endif %}
{% endblock %}
